{# neptune_sync/templates/my-template.html.twig #}
{{ attach_library('neptune_sync/echart') }}

<div id="maingraph" style="width: 1700px;height:600px;"></div>
<script type="text/javascript">
    // based on prepared DOM, initialize echarts instance
    var myChart = echarts.init(document.getElementById('maingraph'));

    myChart.showLoading();
    $.getJSON('http://3.25.10.229/filedump/graph.json', function (json) {
        myChart.hideLoading();
        myChart.setOption(option = {
            title: {
                text: 'testgraph'
            },
            animationDurationUpdate: 1500,
            animationEasingUpdate: 'quinticInOut',
            series : [
                {
                    type: 'graph',
                    layout: 'force',
                    // progressiveThreshold: 700,
                    data: json.nodes.map(function (node) {
                        return {
                            x: null,
                            y: null,
                            id: node.id,
                            name: node.label,
                            symbolSize: 10,
                            itemStyle: {
                                color: node.color
                            }
                        };
                    }),
                    edges: json.edges.map(function (edge) {
                        return {
                            source: edge.sourceID,
                            target: edge.targetID,
                            name: edge.label
                        };
                    }),
                    emphasis: {
                        label: {
                            position: 'right',
                            show: true
                        }
                    },
                    roam: true,
                    focusNodeAdjacency: true,
                    lineStyle: {
                        width: 2,
                        curveness: 0,
                        opacity: 0.8
                    }
                }
            ]
        }, true);
    });
</script>
