{# neptune_sync/templates/my-template.html.twig #}
{{ attach_library('neptune_sync/echart') }}

<div id="maingraph" style="width: 1700px;height:600px;"></div>
<script type="text/javascript">
    // based on prepared DOM, initialize echarts instance
    var myChart = echarts.init(document.getElementById('maingraph'));

    myChart.showLoading();
    $.getJSON('http://3.25.10.229/filedump/graph.json', function (json) {
        myChart.hideLoading();
        myChart.setOption(option = {
            title: {
                text: "{{ test_var }}"
            },
            animationDurationUpdate: 1500,
            animationEasingUpdate: 'quinticInOut',
            series : [
                {
                    type: 'graph',
                    layout: 'force',
                    edgeSymbol: ['circle', 'arrow'],
                    edgeSymbolSize: [4, 10],
                    // progressiveThreshold: 700,
                    data: json.nodes.map(function (node) {
                        return {
                            x: null,
                            y: null,
                            id: node.id,
                            name: node.label,
                            symbol: node.shape,
                            symbolSize: 10,
                            draggable: true,
                            label: {
                                show: true,
                                position: 'inside'
                            },
                            itemStyle: {
                                color: node.color
                            }
                        };
                    }),
                    edges: json.edges.map(function (edge) {
                        return {
                            source: edge.sourceID,
                            target: edge.targetID
                            /*label: {
                                show: true,

                            }*/
                        };
                    }),
                    /*emphasis: {
                        label: {
                            position: 'right',
                            show: true
                        }
                    },*/
                    roam: true,
                    focusNodeAdjacency: true,
                    lineStyle: {
                        width: 1,
                        curveness: 0,
                        opacity: 0.7
                    },
                    /*force: {
                        repulsion: 100,
                        friction: .9
                    }*/
                }
            ]
        }, true);
    });
</script>
