{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * @see template_preprocess_file_link()
 */
#}

<span{{ attributes }}>{{ link }} [{{ fileLinkDisplay.fileSize }}] {{ fileLinkDisplay.fileMime }}</span>