

#maingraph{
    width: 95%;
    height: 600px;
    box-shadow: 0px 0px 5px #1d84c3;
    border-radius: 8px;
}
/*
@media (min-width: 576px){
    #maingraph{
        width: 740px;
        height: 600px;
        box-shadow: 0px 0px 5px #1d84c3;
        border-radius: 12px;
    }
}

@media (min-width: 768px){
    #maingraph{
        width: 940px;
        height: 600px;
        box-shadow: 0px 0px 5px #1d84c3;
        border-radius: 12px;
    }
}
*/

@media (min-width: 992px){
    #maingraph{
        position: absolute !important;
    }
}
