[aria-expanded=false] > .fkg-charactersheet-collapse-control:before {
  content: "\f0fe";
  margin-right: 5px;
}
[aria-expanded=true] > .fkg-charactersheet-collapse-control:before {
  content: "\f146";
  margin-right: 5px;
}

.fkg-character-sheet-outcome-programs > button[aria-expanded=true] > spam.collapse-prefix-symbol {
  transform: rotate(90deg);
  transition: transform 0.5s ease-in-out;
}

.fkg-character-sheet-outcome-programs > button[aria-expanded=false] > spam.collapse-prefix-symbol {
  transition: transform 0.5s ease-in-out;
}

.fkg-program-character-sheet .view-content.row {
  margin-left: unset;
  display: block;
}
