<a href="{{ content.field_fkg_link[0]['#plain_text'] }}"
   title="{{ content.field_fkg_content|render|striptags }}">
  {{ content.field_fkg_legislation[0]["#plain_text"] }} - {{ content.field_fkg_label[0]["#context"]["value"] }}
</a>
