a.nav-link{
    color: #242c33;
}
a.nav-link:hover {
    color: #b8bfc5;
}

article.node--type-legislation .node__meta {
    display: none;
}

article.node--type-bodies .node__meta {
    display: none;
}

article.node--type-portfolios .node__meta {
    display: none;
}

.view-taxonomy-term .graph__link {
    display: none;
}

.view-taxonomy-term .sync__link {
    display: none;
}

.view-taxonomy-term .node__content {
    display: none;
}

.view-taxonomy-term h2.node__title a {
    font-size: medium;
    padding: 15px;
    color: #40807F;
}

article.node--type-bodies .field {
    margin: 0 0 1.2em;
}

article.node--type-bodies .field .field__label {
    font-weight: 800;
}
