:root {
    --blue: #1d84c3;
    --white: #ffffff;
  }

body {
    font-family: "Roboto",Helvetica,sans-serif,Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;

}

a {
    text-decoration: none !important;
}
a:hover {
    background-color: none !important;
    text-decoration: underline;
}

.modal-dialog {
    margin: 15vw auto !important;
}
.modal-content {
    border-radius: 14px;
    border: 1px solid var(--blue);
}
.modal-header {
    color: #1d84ce;
    border-bottom: 2px solid var(--blue);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.modal-header .close {
    color: var(--blue);
    margin: -.5rem -.5rem -1rem auto;
}
.modal-header .close:hover {
    color: #fff;
    background-color: #1d84c3;
    border-radius: 12px;
}

a.navbar-brand{
    margin: 10px 20px;
}

#block-sophia-alpha-sitetitle h1 {
    margin: 4rem 2rem;
}

nav.menu--main,
.block-superfish {
    width: auto;
    margin: auto;
    margin-top: 10px;
}

@media ( max-width: 768px ) {
    .sf-accordion-toggle {
        display: none;
    }

    #superfish-main {
        display: block !important;
    }
    ul.sf-menu.menu {
        width: 70%; /* addresses IE behaviour*/
    }
    #block-sophia-alpha-sitetitle h1 {
        margin: 4rem 0rem;
        font-size: 1.5rem;
    }
    .page-view-flipchart .view-display-id-block_3 table {
        margin: auto !important;
        width: 100% !important;
    }
}

.menu-toggle {
    background-color: aliceblue;
    border: 1px solid aliceblue;
}
/*Menu toggles is displayed as part of theme with search block placement in top header form (right). 
Not required for use yet */

.menu.toggles {
    display: none;
}

/* SuperFish menu modifications*/
ul.sf-menu.menu {
    width: fit-content;
    margin: auto;
    float: none !important;
}
ul.sf-menu .sf-sub-indicator {
    width: 1rem;
    height: 1rem;
}
ul.sf-menu.menu li {
    margin-bottom: 0.5rem;
}
ul.sf-menu.menu li ul{
    background-color: #fff;
}
ul.sf-menu.menu li ul li {
    margin-bottom: 0.2rem;
}
.navbar-toggler {
    background-color: #414042;
    border: 1px solid #e8f2f9;
    margin: 0.25rem;
    position: absolute;
    right: 3%;
    top: -110px;
}
.navbar-toggler:hover {
    background: #efefef;
    border-color: #414042;
}

main#content table thead,
table thead,
main#content table tr th {
    background-color: #3390c9;
}
main#content table th:first-child {
    border-top-left-radius: 8px;
}
main#content table th:last-child {
    border-top-right-radius: 8px;
}
main#content table > tbody > tr:hover {
    background-color: #e8f2f9 !important;
}
thead > tr {
    border-bottom: 0px;
    height: 3rem;
}

main#content table > thead > tr > th {
    vertical-align: middle;
}

.pagination {
    max-width: 60%; /* fixes issue with IE */
    width: fit-content;
    margin: auto;
}

.graph__link,
.coop_graph__link,
.sync__link,
.graph_back_btn {
    border: 2px solid #1d84c3;
    min-width: 220px;
    max-width: auto;
    padding: 3px 12px;
    border-radius: 24px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: #1d79ed;
    background: transparent;
    display: inline-block;
    margin: 10px 12px 10px 0px;
    

}
.graph_back_btn {
    color: #1d84c3;
}

.graph__link:hover,
.coop_graph__link:hover,
.sync__link:hover,
.graph_back_btn:hover {
box-shadow: 1px 2px #1d84c3;
}
.main-content a,
.sidebar a {
 color: #1d84c3 !important;
}
.main-content a:hover,
.sidebar a:hover {
 background-color: transparent !important;
}
.webform-element-description {
    font-size: 1rem;
}
#sidebar_first
 {
    /*display: block ! important; */
    max-width: unset;
}
.page-view-flipchart .view-display-id-block_3 div.view-content {
 -ms-overflow-style: -ms-autohiding-scrollbar;
}

#sidebar_first,
#sidebar_second{
    margin: 25px 0px;
}
#sidebar_first {
    padding: 0px 5px;
    border-radius: 12px;
    background-color: #efefef;
    max-height: 710px;
   /* overflow-y: auto;*/
}

#block-views-block-summary-key-block-3 .table-responsive {
    overflow-x: unset !important;
    padding: 2px;
}
#sidebar_second {
    border-radius: 12px;
    background-color: #efefef;
    max-height: 1090px;
   /* overflow-y: auto;*/
}
.sidebar .block,
.sidebar aside.section,
#sidebar_second aside #block-webform--2{
    background-color: transparent;
    border: unset;
}

#sidebar_second aside > .block {
    margin: 0px;
}
#sidebar_second nav .nav {
    margin: 2rem 0.5rem 0rem !important;
}

#sidebar_second aside #block-webform > h2{
    border-bottom: 2px solid #1d84c3;
}
legend {
    font-size: 1.2rem;
    font-weight: 500;
}
#block-feedback-bar{
    position: fixed;
    right: 10px;
    top: 360px;
    background-color: deepskyblue;
    border-radius: 12px;
    font-size: 2rem;
    font-weight: 400;
    writing-mode: vertical-lr;
}
/* Below h2 border fixes the border display for IE.
*/
.block-region-sidebar-second.block-webform-block h2 {
    border-bottom: 2px solid #1d84c3 !important;
}
nav.tabs {
    position: relative !important;
    height: auto !important;
}
.header,
#header,
header#header {
    background-color: #1d84c3;
}
#navbar-top {
    background-color: #1d84c3;
    padding-top: 1.25rem;
}

.form-row .form-actions {
    align-self: center;
    margin: auto;
}
#block-exposedformsearchpage-1-2 .form-row {
    padding: 1rem;
}
#block-exposedformsearchpage-1-2 .form-row fieldset {
    padding: unset;
}
#block-exposedformsearchpage-1-2 .form-group {
    margin-bottom: 0px;
}
#views-exposed-form-search-page-1 .form-submit.btn,
#views-exposed-form-search-page-1-2 .form-submit.btn,
#views-exposed-form-search-page-2 .form-submit.btn {
    float: left;
    width: fit-content;
    margin-left: 1rem;
}
#block-exposedformsearchpage-2 .form-submit.btn {
    margin-top: 0.7rem;
}

#edit-reset--2 {
    display: none;
}
.form-text {
    margin-top: unset;
}

#block-exposedformsearchpage-1 #edit-keys {
    width: 225px;
}
#block-exposedformsearchpage-1 #edit-actions,
#block-exposedformsearchpage-1 #edit-actions--2 {
    margin-top: 1px;
    position: absolute;
    top: 5px;
    right: -10px;
}

.path-search .views-row,
.path-objects-search .views-row
 {
    margin: .25rem 0rem;
    padding: 1rem 0rem;
    border-bottom: 1px solid #1d84c3;
}
.path-search .views-row:hover,
.path-objects-search .views-row:hover {
    background: #e8f2f9;
    border-bottom: 5px solid #1d84c3;
    transition: all .2s ease-in-out;
}
/*
#block-exposedformsearchpage-1 #edit-submit {
    margin: auto;
    margin-top: 1px;
    position: absolute;
    right: 68px;
    top: 48px;
    width: auto;
}
*/
.lead-in-cards {
    min-height: 180px;
    text-align: center;
}
.lead-in-cards a i {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.lead-in-cards.purple > a {
    border-bottom: 3px solid #1d84c3 !important;
    box-shadow: 0 2px 4px 0 #1d84c3, 0 0px 10px 0 #1d84c3 !important;
}
/* .path-taxonomy - fixing margins on taxonomy pages with current filtered views */
.path-taxonomy .item-list{
    margin-left: 15px;
}
.path-taxonomy .item-list article{
    margin-bottom: 0px;
}

.path-taxonomy .view-header {
   /* border-bottom: 1px solid #1d84c3; */
    background-color: #efefef;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 2rem;
}
/* Guide/Scroll mesage is used for Summary key block message - Scroll Down or view page*/
.guide_msg {
    font-size: .9rem;
    color: #1d84c3;
    font-weight: 600;
    text-align: center;
    margin-top: .3rem auto;
    
}
#scroll_msg {
    text-align: center;
    font-size: 0.75rem;
    color: orange;
    font-weight: 600;
}

#scroll_msg a {
    text-decoration: none !important;
    color: orange !important;
}
#scroll_msg i {
    font-size: .8rem;
}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front {
    width: 80%;
    z-index: 10000;
    position: absolute;
    left: 100px;
    height: 90%;
}


#block-exposedformsearchpage-1-2 ,
#block-exposedformsearchpage-2 {
    background: #efefef;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    display: flex;
    position: relative;
}

#block-exposedformsearchpage-1-2 .content,
#block-exposedformsearchpage-2 .content{
    margin: auto;
}


#block-exposedformsearchpage-1-2 #edit-search-api-fulltext--2 {
    width: 400px;
}

#block-exposedformsearchpage-2 #edit-actions--4 {
    position: relative;
    right: 0px;
    top: 14px;
}

@media (min-width: 576px){
    .form-inline .form-group {
        align-items: normal;
        }
}
#block-exposedformsearchpage-1 {
    display: none;
}
.view-search .views-label {
    font-weight: 600;
}
.view-search .views-field-title {
    margin-bottom: 0.3rem;
    font-weight: large;
}

/*#maingraph
{
    width: 100% !important;
    min-height: auto !important;

}*/
#maingraph div:nth-child(2) {
    width: 300px;
    white-space: unset !important;
}
canvas {
    border: 4px solid #efefef;
    border-radius: 4px;
}

/* shapes-legend is used to provide legend that explains
   shapes above the coop relationships graph.
*/
.shapes-legend,
.color-keys {
    color: #1d84c3;
    padding: 10px 20px 0px 20px;
    text-align: left;

}
.color-keys {
    font-weight: 600;
    font-size: smaller;
}
.shapes-legend p,
.color-keys p {
    border-bottom: 1px solid #1d84c3; 
    
}

.shapes-legend p i{
    font-size: 25px;
    color: #000;
    vertical-align: middle;
    padding-bottom: 4px;
    
}
.color-keys p i {
    font-size: 20px;
    vertical-align: middle;
    padding-bottom: 4px;
}
/* ----------------Cooperative relationships for character sheet*/
article.node--type-cooperative-relationships.node--view-mode-character-sheet
.node__content {
    display: flex;
    flex-flow: row wrap;
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    justify-content: flex-start;
}

article.node--type-cooperative-relationships.node--view-mode-character-sheet
.field{
    width: 100px;  /* Or whatever */
    margin: 5px;

}

article.node--type-cooperative-relationships.node--view-mode-character-sheet
.field--name-field-program {
    order: 1;
}

article.node--type-cooperative-relationships.node--view-mode-character-sheet
.field--name-field-outcome-description  {
    order: 3;
    width: 700px;
}

article.node--type-cooperative-relationships.node--view-mode-character-sheet
.field--name-field-receiver {
    order: 2;
    width: 200px;
     /* Or whatever */
}

article.node--type-cooperative-relationships.node--view-mode-character-sheet
.field--name-linkbtn {
    order: 4;
}


/*-----------------Summary key block*/

/* fix key to screen scrolling 
.page-view-flipchart .sidebar_second {
    position: fixed;
    left: 25px;
    width: 305px;
    top: 243px;
    padding-right: 0px;
    padding-left: 0px;
}
*/
.portfolio_bodies_count {
    position: absolute;
    right: 10px;
    top: 35px;
    background: #efefef;
    border-radius: 12px;
    line-height: 2rem;
    width: 30px;
    text-align: center;
}
.page-view-flipchart main#content{
    padding-top: 20px;
}

.page-view-flipchart .view-display-id-block_3 div.view-content {
    max-height: 520px;
    overflow-y: auto;
}
.view-id-entity_types table,
.page-view-flipchart .view-display-id-block_3 table {
    background-color: aliceblue !important;
    font-size: 0.9em !important;
    max-height: 600px;
    overflow-y: auto;
    width: 255px;
}
.view-id-entity_types table caption,
.page-view-flipchart .view-display-id-block_3 table caption{
    text-align: center;
    border-top: 2px solid #2f4f4f;
}
.view-id-entity_types table caption,
.page-view-flipchart .view-display-id-block_3 table caption a {
    font-weight: 700;
    color: #2f4f4f !important;
    font-size: .9rem;
}
.view-id-entity_types table tr td,
.page-view-flipchart .view-display-id-block_3 table tr td {
    border: 0px;
}
.page-view-flipchart .block-views-blocksummary-key-block-3 h2 {
    text-align: center;
}
#block-views-block-summary-key-block-2 {
    width: 100%;  /*addresses the IE width adjustments for this block (otherwise 1/3rd wide in IE) */
}
/* tables stuff (AD - Eliminate with testing one by one) */
/*.page-view-flipchart .view-display-id-block_1 div.view-content table caption {
    padding-top: 0px;
    padding-bottom: 0px;
}
*/
.page-view-flipchart .view-display-id-block_1 div.view-content table caption a {
    font-weight: 700;
    color: #504848;
}

.view-display-id-block_1 tbody td {
    padding: 4px 4px;
}

.view-display-id-block_1 tbody td.views-field-name {
    text-align: center;
}
/*
.view-display-id-block_1 th.views-field-name {
    width: 44px;
    text-align: center;
    padding: 4px 4px;
}
*/
.view-display-id-block_1 tbody td p {
    margin-bottom: 0;
}

/*buffer main content out from fix float key 
.page-view-flipchart .main-content {
    margin: 0px 70px 0px 220px !important;
}
*/

/*-------------------summary view table*/

.flipchart {
    width: 100%;
    margin: auto;
}

.flipchart .col {
    padding-right: 5px;
    padding-left: 5px;
}

.flipchart .item-list {
    line-height: 1;
    margin: 16px 0px;
    border: 1px solid #efefef;
    padding: 16px 0px 10px 6px;
    border-radius: 10px;
}
.flipchart .item-list:hover {
    border: 1px solid #1d84c3;
    box-shadow: 4px 8px #1d84c3;
}

.flipchart .item-list a {
    color: #000000;
    font-weight: bolder;
    font-size: 1rem;
}
.flipchart .item-list ul {
    border-top: 2px solid #1d84c3;
}

.flipchart .item-list ul li {
    padding-top: 6px;
}

.flipchart .item-list ul li article{
    min-height: 2.5rem;
}

.flipchart .node--view-mode-character-sheet a span {
    color: #000000;
    font-weight: normal;
    font-size: 0.9rem;
}

.flipchart .node--view-mode-character-sheet .character-sheet-keys a span {
    /*font-weight: bolder;*/
    font-size: 0.7rem;
}



.flipchart .character-sheet-keys a span {
    border: 1px solid #1d84c3;
    margin: 2px 5px;
    border-radius: 4px;
    text-align: center;
    padding: 1px 2px;
}

#block-sophia-alpha-content div .character-sheet-keys {
    display: inline-block;
    margin: 5px 0px;
}
/*

.flipchart ul {
    border-bottom-width: medium;
    border-bottom-style: solid;
    margin: 0 0.25em 0.25em 0;
}

*/


.flipchart ul li {
    padding: 0 0 0 0;
}

.view-flipchart .graph__link {
    display: none;
}
.view-flipchart .sync__link {
    display: none;
}
.view-flipchart .coop_graph__link {
    display: none;
}
.view-flipchart div.node__content {
    display: none;
}
.view-flipchart .view-content h3 {
    order: 0;
    flex: 1 1 100%;
}
.view-flipchart .view-content .views-col {
    max-width: 33% !important;
    padding: 0px;
    order: 1;
    flex: 1 0 25%;
}
.view-flipchart .view-content .views-col span.field--name-title {
    color: #3b3b3b;
    font-size: x-small;
}
.view-flipchart .view-content .views-col .character-sheet-keys {
    font-size: x-small;
}

a.nav-link{
    color: #242c33;
}

a.nav-link:hover {
    color: #b8bfc5;
}

article.node--type-legislation .node__meta {
    display: none;
}

article.node--type-bodies .node__meta {
    display: none;
}

article.node--type-portfolios .node__meta {
    display: none;
}

.view-taxonomy-term .graph__link {
    display: none;
}

.view-taxonomy-term  .coop_graph__link {
    display: none;
}

.view-taxonomy-term .sync__link {
    display: none;
}

.view-taxonomy-term .node__content {
    display: none;
}

.view-taxonomy-term h2.node__title a {
    font-size: medium;
    padding: 15px;
    color: #40807F;
}

article.node--type-bodies .field {
    margin: 0 0 1.2em;
}

article.node--type-bodies .field .field__label {
    font-weight: 800;
}

article.nonCorp {
    border-left: 6px solid rgb(204, 204, 255) !important;
    border-bottom: 1px solid rgb(204, 204, 255);
    background-color: transparent;
}
.ncce {
    color: rgb(204, 204, 255) !important;
}
article.corp {
    border-left: 6px solid rgb(170, 225, 194) !important;
    border-bottom: 1px solid rgb(170, 225, 194);
    background-color: transparent;
    
}
.cce {
    color: rgb(170, 225, 194) !important;
}
article.comCompany {
    border-left: 6px solid rgb(249, 238, 186) !important;
    border-bottom: 1px solid rgb(249, 238, 186);
    background-color: transparent;
    
}
.ccmp {
    color: rgb(249, 238, 186) !important;
}


#block-sophia-alpha-footer {
    margin: auto;
}
.view-id-entity_types {
    display: block;
}
.view-id-entity_types .view-content.row{
    margin-left: 0px;
}
.view-id-entity_types .table .views-field-name {
    width: 25%;
    text-align: left;
}

@media only screen and (min-width: 992px) {
    #block-exposedformsearchpage-1 {
        display: inline-block;
        position: relative;
    }
    #block-exposedformsearchpage-1-2 {
        display: none;
    }
    .path-search #block-exposedformsearchpage-1-2{
        display: flex;
    }
    #block-sophia-alpha-sitetitle h1 {
        margin: 2.2rem;
    }
}

.path-summary-print .view-display-id-block_2 div.view-content {
    max-height: none;
    height: auto;
}
.path-summary-print .view-display-id-block_2 div.view-content .table-responsive.col-md-12 {
    flex: unset !important;
    width: 32%;
}
.path-summary-print .view-display-id-block_2 div.view-content table.cols-2 {
    
    padding: 5px !important;
}
.path-summary-print .views-field-name {
    width: 30%;
    text-align: center;
}
.path-summary-print .cols-2 caption {
    height: 75px;
}

/* Flipchart key colors below */
.entity_count {
    font-size: .8rem;
    color: #778899;
    font-weight: 600;
}
.view-id-summary_key span a,
.summaryFlipKeys {
    font-weight: 600;
    font-size: larger;
    border: 1px solid #1d84c3 !important;
    padding: 5px;
    border-radius: 6px;
}
.blue{
    color: #ccccff !important;
}


#GBE,
a[href$="/taxonomy/term/128"] {
    color: #0060AB !important;
}

/* E_key */
#eagency,
a[href$="/taxonomy/term/129"] {
    color: #7030A0 !important;
} 

.HC_key,
a[href$="/taxonomy/term/130"] {
    color: #BC8F00 !important;
} 
/* I_key */
#inter,
a[href$="/taxonomy/term/131"] {
    color: #006D31 !important;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
} 

.M_key,
a[href$="/taxonomy/term/132"] {
    color: #B61E03 !important;
} 
/* R_key */
#cce,
a[href$="/taxonomy/term/133"] {
    color: #000 !important;
} 
/*  star_key */
#three,
a[href$="/taxonomy/term/134"] {
    color: #000 !important;
    font-size: xx-large;
} 

/* PS Act */
#employ_aps,
a[href$="/taxonomy/term/136"] {
    color: #000 !important;
}
.view-id-summary_key a[href$="/taxonomy/term/136"] {
    border: unset !important;
}
 
/* ^ */
#employ_naps,
a[href$="/taxonomy/term/137"] {
    color: #000 !important;
}
/* # */
#employ_both,
a[href$="/taxonomy/term/138"] {
    color: #000 !important;

}
/* Triangle [triangle]    Dec &#9650;    Hex &#x25B2; */
#employ_par,
a[href$="/taxonomy/term/139"] {
    color: #000 !important;

}

#GGS,
a[href$="/taxonomy/term/141"] {
    color: #000 !important;
}

/* F */
#fin,
a[href$="/taxonomy/term/142"] {
    color: #A24109 !important;
}
/* T */
#nfin,
a[href$="/taxonomy/term/143"] {
    color: #000 !important;
}


/* phonorecord dec &#8471; hex &#x2117; */
#cpr,
a[href$="/taxonomy/term/144"] {
    color: #A70968 !important;
}
.view-id-summary_key a[href$="/taxonomy/term/144"] {
    border: unset !important;
    font-size: xx-large;
}
/* X_key */
#exempt,
a[href$="/taxonomy/term/145"] {
    color: #000 !important;
}
/* listed_entities */
#le,
a[href$="/taxonomy/term/147"] {
    color: #000 !important;
}
.view-id-summary_key a[href$="/taxonomy/term/147"] {
    border: unset !important;
}
.view-id-summary_key a[href$="/taxonomy/term/292"],
.view-id-summary_key a[href$="/taxonomy/term/293"],
.view-id-summary_key a[href$="/taxonomy/term/294"] {
    border: unset !important;
    color: #000 !important;
}

/*-- End Flipchart Key colors --*/
